{{#if runQuery.isIdle}}
    {{#if success}}
        {{#if data}}
            <div id="{{id}}" style="flex: 1"></div>
        {{else}}
            <p>No hay información</p>
        {{/if}}
    {{else}}
        <p class="text-danger">Ha ocurrido un error al cargar los datos.</p>
    {{/if}}
{{else}}
    <div style="text-align:center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
{{/if}}