<div class="map-key demographics">
	<p><span>Hijos: </span> Promedio de hijos.</p>
	<p><span>Limitación: </span> Explicación</p>
	<p><span>PEA: </span> Explicación</p>
	<p><span>No S.S.: </span> No cuentan con un servicio de salud.</p>
	<p><span>Hogares: </span> Explicación</p>
	<p><span>Hogares Jefa: </span> Explicación</p>
	<p><span>Hogares Pob: </span> Explicación</p>
	<p><span>Entidad NAC: </span> Explicación</p>
	<p><span>Entidad INM: </span> Explicación</p>
	<p><span>Entidad MIG: </span> Explicación</p>
	<p><span>Analfabetismo: </span> Explicación</p>
</div>
