<div class="col-xs-12 col-sm-6 col-md-4" style="height: 400px;">
	<div class="poll-block card">
		<div class="row centered">
			<p style="color: #545454; font-weight:700;">Rodrigo Duterte</p>
		</div>
		<div class="row candidate-profile-row">
			<div class="candidate-profile">
				<div class="party-image pri-image"></div>
			</div>
		</div>

		{{poll-slider setPollValue='setPollValue'}}

		<div class="row slider-icons-container">
			<div class="left-slider-icon">
				<i class="fa fa-thumbs-o-down"></i>
				<p>Desapruebo</p>
			</div>

			<div class="right-slider-icon">
				<i class="fa fa-thumbs-o-up"></i>
				<p>Apruebo</p>
			</div>
		</div>
	</div>
</div>