{{yield}}
<div class="table-header">
	
	{{!-- The params in the contextual components are mandatory when used and will precede the values assigned here. I pass the params here for documentation porpuses. TODO: document in an MD file the internal table-for component --}}
	{{yield 
		(hash
			voter-quickform=(component 'voter-row-form' showFlag=false refreshVoters="actionToRefreshRoute")
			searchbar=(component 'table-searchbar')
			filters=(component 'table-nav-filters' showFlag=false)
			controls=(component 'table-nav-controls'))}}

</div>



